/*无下划线a标签*/
a{text-decoration:none;}a:link{text-decoration:none;}a:visited{text-decoration:none;}a:hover{text-decoration:none;}a:active{text-decoration:none;}
.right{
	float: right;
}
.htitle{
	position: fixed;
	width: 100%;
	z-index: 1000;
	min-width: 768px;
}
.hpage{
	background: url('../img/hpagebgm.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed;
	min-width: 768px;
}
.user-info{
	width: 400px;
	height: 48px;
	right: 0px;
	padding-right: 75px;
	line-height: 48px;
	position: absolute;
	z-index: 100;
}
.user-info span{
    float: right;
    padding: 0px 5px 0px 5px;
    color: #FFF;
}
.fenge{
	margin-left: 0px 2px 0px 2px;
}
.warning-activate{
	position: absolute;
    width: 200px;
    height: 150px;
    line-height: 20px;
    right: 15px;
    top: 35px;
    display: none;
}
.warning-img{
    width: 14px;
    margin: 0px 153px 0px 0px;
    height: 10px;
    position: relative;
    top: 0px;
    z-index: 30;
}
.warning-img svg{
	height: 100%;
}
.warning-activate div{
	padding: 6px;
    background-color: #FFFFFF;
    border: 1px solid #484848;
    position: absolute;
    top: 9px;
    z-index: 28;
}
.warning-activate .warning-close{
	color: #6D6A6A;
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 9px;
    z-index: 30;
    cursor: pointer;
}
.warning-activate div span{
	color: #424242;
}
.fenge1, #exit, #user-name{
	display: none;
}
.islanding .fenge1,.islanding #exit,.islanding #user-name{
	display: block;
}
.islanding #landing, .islanding #registering{
	display: none;
}

#landing, #registering, #exit{
	cursor: pointer;
}
.loadsee{
    display: none;
}
.islanding .loadsee{
	display: block;
}
.mail{
    height: 48px;
    line-height: 48px;
    position: relative;
}
.mail .hint{
	position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #E85151;
    border-radius: 14px;
    left: 16px;
    top: 17px;
}
.mail .mail-img{
	padding: 0px;
    margin-top: 16px;
    cursor: pointer;
}
.mail .mail-count{
	padding: 0px;
	padding-left: 4px;
}
.mail-list{ 
    position: absolute;
    top: 30px;
    width: 300px;
    left: -138px;
    height: 12px;
    display: none;
}
.mail-list .list-img{
    padding: 0px;
    left: 143px;
    top: 2px;
    z-index: 94;
    position: absolute;
    height: 10px;
    width: 14px;
}
.mail-list .list-img svg{
	height: 10px;
    width: 14px;
}
.mail-img:hover .mail-list, .mail-list:hover{
	display:block!important;
}
.mail .mail-list .list{
    width: 300px;
    color: #635E5E;
    min-height: 200px;
    position: absolute;
    top: 11px;
    line-height: 20px;
    border: 1px solid #797171;
    background-color: #FFFFFF;
    list-style: none;
    padding: 0px;
    border-radius: 8px;
    padding: 14px;
    z-index: 90;
}
.mail-list li{
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
}
.more{
	border-bottom: none!important;
}
/*首页头部样式*/
.logo-row{
	width: 75%;
	margin: auto;
	padding: 12px 0px 70px 0px;
}
.logo-row a{
	color: #FFFFFF;
}
.login{
	position: absolute;
}
#select-toggle{
	display: none;
	cursor: pointer;
}
@media only screen and (max-width: 768px) {
	.logo-row{
		width: 100%;
		margin: auto;
		padding: 35px 0px 20px 0px;
	}
}
/*页面头部导航*/
.hcontainer{
	width: 75%;
	margin: auto;
	margin-top: 50px;
	background-color: #FFFFFF;
}
.daohang{
	height: 0px;
}
.daohang ul{
	position: relative;
	z-index: 50;
	top: 0px;
	background-color: #383535;
	height: auto;
}
.daohang li{
	height: 50px;
    line-height: 50px;
    color: #FFFFFF;
}
.daohang li a:hover{
	background-color: #e77e23;
}
.daohang li a{
	color: #FFFFFF;
	border-radius:0px;
	padding: 0px 35px 0px 35px;
}
@media only screen and (max-width: 768px) {
	.hcontainer{
		width: 100%;
		margin: auto;
	}
}

/*主要内容*/
.left-con{
    margin: 0px 0px 25px 0px;
    width: 70%;
    border-right: 1px solid #eee;
    padding: 0px 30px 30px 30px;
    float: left;
}
.article{
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}
.article_title{
	font-size: 24px;
	display: block;
    margin-top: 16px;
}
.article_container{
	margin-top: 20px;
}
.article_link{
	margin-top: 20px;
}
.con-text{
    border-bottom: 1px solid #EEE;
    padding-bottom: 15px;
}
.right-con{
	width: 29%;
    font-size: 12px;
    margin: 0px 0px 25px 0px;
    padding: 0px 30px 30px 30px;
    float: left;
    border-left: 1px solid #eee;
    position: relative;
    left: -1px;
}
.overview{
	background-color: #FFFFFF;
	margin-bottom: 50px;
}
.title-right{
	font-size: 20px;
    border-bottom: 3px solid #F9C819;
    padding-bottom: 1px;
}
.module-right{
    float: left;
	margin: 20px 0 10px;
    width: 100%;
}
.module-right p{
    margin: 10px 0 10px;
}
.select{
	font-size: 17px;
    display: block;
    width: 100%;
}
#selectinput{
	float: left;
}
.goselect{
	display: block;
    float: left;
    width: 44px;
    background-color: #337AB7;
    height: 23px;
    line-height: 23px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    margin: 0px 0px 0px 23px;
}
.module-right div{
	min-height: 25px;
}
.tools div{
    width: 100%;
    margin: 9px 0px 0px 0px;
}
.tools a{
    width: 100%;
    color: #7D7D7D;
}
.commonlabel a{
    display: block;
    float: left;
    width: 50%;
    color: #7D7D7D;
    margin: 9px 0px 0px 0px;
}
.newarticle div{
	width: 100%;
    margin: 9px 0px 0px 0px;
}
.newarticle a{
    width: 100%;
    color: #7D7D7D;
}
@media only screen and (max-width: 768px) {
	.left-con{
	    margin: 20px 0px 25px 0px;
	    width: 100%;
	    border-right: 1px solid #eee;
	    padding: 30px;
	}
	.right-con{
		width: 100%;
	    margin: 0px 0px 25px 0px;
		float: left;
		border-left: 1px solid #eee;
	    position: relative;
	    left: 0px;
	}
}
/*分页样式*/
#jqPaginator{
    list-style: none;
    padding: 0px;
    margin-top: 14px;
}
#jqPaginator li{
    float: left;
    padding: 6px 15px 6px 15px;
    border: 1px solid #EEE;
    margin: 0px 2px 0px 2px;
    cursor: pointer;
}
#jqPaginator li a{
    color: #000000;
}
#jqPaginator li.active{
    background-color: #337AB7;
}
#jqPaginator li.active a{
    color: #FFF;
}
#jqPaginator li.disabled{
    cursor: no-drop;
}
#jqPaginator li.disabled a{
    cursor: no-drop;
}
@media only screen and (max-width: 768px) {
	#jqPaginator li {
	    float: left;
	    padding: 1px 8px 1px 8px;
	    border: 1px solid #EEE;
	    margin: 0px;
	}
}
/*打赏*/
.dashang{
	text-align: center;
	width: 100%;
    background-color: #eeeeee;
    height: 70px;
}
.dashang span{
	display: block;
}
.dashang span.shang{
	height: 45px;
    line-height: 45px;
    font-size: 32px;
    width: 45px;
    margin: auto;
    background-color: #FEC22C;
    border-radius: 43px;
    cursor: pointer;
    color: #ffffff;
}
.zhifuselect{
	
}
.zhifuselect ul{
	list-style: none;
	margin: 0px;
}
.modal-content{
	width: 300px!important;
    height: 300px!important;
    margin: auto!important;
    margin-top: 200px!important;
}
.erweima{
	text-align: center;
}
.erweima img{
	width: 200px;
    height: 200px;
    margin: auto;
}
.zhifuselect{
    width: 100%;
    text-align: center;
}
.zhifuselect span{
	padding-top: 10px;
    display: block;
}

/*footer页尾*/
.footer{
	background-color: #565656;
    color: #fff;
    height: 70px;
    padding: 15px;
}

.client child:nth-child(+1){
	display: none;
}
.jiathis_txt{
	display: none;
}

/*登陆注册弹出层*/
.modal-content{
	width: 350px!important;
    height: 350px!important;
    margin: auto!important;
    margin-top: 200px!important;
}
.modal-dialog{
	width: 350px;
}
.pages{
	background-color: #FFFFFF;
	width: 352px;
    height: 352px;
    position: absolute;
    top: 140px;
    border: 1px solid #5A5A5A;
}
.backpage1{
    transform: rotate(-4deg);
    z-index: 50;
}
.backpage2{
    transform: rotate(-2deg);
    z-index: 60;
}
.pagecontent{
	z-index: 70;
}
.insight{
    z-index: 80;
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: #ffffff;
}
.registered{
    z-index: 90;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 400px;
    top: -110px;
    opacity: 0;
    background-color: #ffffff;
}
.insight #title,.registered #title{
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 26px 20px 26px;
}
.left-title{
	width: 93px;
    height: 3px;
    float: left;
    background: linear-gradient(to right, #FFFFFF , #949292);
    margin-top: 8px;
}
.right-title{
	width: 93px;
    height: 3px;
    float: right;
    background: linear-gradient(to right, #949292 , #FFFFFF );
    margin-top: 8px;
}
.input-img{
	width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
        font-size: 19px;
}
.row-input{
	width: 290px;
    margin: auto;
    border: 1px solid #000;
    margin-top: 20px;
}
.row-input input{
	width: 239px;
    height: 45px;
    border: none;
    line-height: 45px;
    outline:none!important;
    font-size: 19px;
}
.fottor{
	padding: 29px;
}
.fottor span{
	margin-left: 58px;
}
.close{
	position: absolute;
    right: 6px;
    top: 3px;
}

/*激活弹出层*/
#activate{
	padding: 20px;
	display: none;
}
#activate .title{
	text-align: center;
}
.tishi{
	font-size: 13px;
}
.tishi p{
	margin: 0px;
}
#btn-loadding{
    margin-top: 24px;
}
.activate-close{
    position: absolute;
    right: 5px;
    display: block;
    top: -3px;
    font-size: 24px;
    color: #9A9595;
}

.forgot-password{
	float: right;
    margin: 29px 13px 0px 0px;
    cursor: pointer;
    font-size: 13px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #545454;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li>a:hover{
	background-color: #545454;
}
