<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--强制IE用最新模式渲染-->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--检测屏幕宽度,并以缩放率为1来初始显示-->

    <title>Title</title>
    <link rel="stylesheet" href="/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="/source/app/css/common.css">-->

    <!--开发用-->
    <link rel="stylesheet" href="../../web/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="../../web/source/app/css/common.css">-->
    <!--开发用-->
    <style>
        /*不属于公共部分*/
        .article{
            margin-top: 15px;
        }
    </style>
</head>
<body>

<!--顶部导航-->
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="##" class="navbar-brand">开发者家园</a>
    </div>
    <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li><a href="##">PHP <span class="badge">N</span></a></li>
            <li class="active"><a href="##">MySQL5.7中文手册翻译 <span class="badge">N</span></a></li>
            <li><a href="##">iOS <span class="badge">N</span></a></li>
            <li><a href="##">前端 <span class="badge">N</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right small">
            <li>
                <a href="">注册</a>
            </li>
            <li>
                <a href="">登录</a>
            </li>
        </ul>
    </div>

</div>
<!--顶部导航结束-->

<div class="container">

    <div class="row">
        <div class="col-sm-9">
            <p class="article1">
                <h2>标题</h2>
                <div class="row">
                    <div class="col-sm-4">2016-12-12 20:08:58</div>
                    <div class="col-sm-3 col-sm-push-4">
                        <span class="glyphicon glyphicon-comment">22</span>
                        <span class="glyphicon glyphicon-thumbs-up">88</span>
                        <span class="glyphicon glyphicon-share">108</span>
                    </div>
                </div>
                <p class="text-justify article">这是我一位前同事现在所在公司的招聘，找我帮忙我，反正不是坏事，所以发布在这里，
                    感兴趣的可以了解下发个简历试试。首先说明，我对这家公司不怎么了解，所以问我太多的信息我也帮不了，大家自行搜索了解！
                </p>
            </p>



            <p>
            <h2>标题</h2>
            <div class="row">
                <div class="col-sm-4">2016-12-12 20:08:58</div>
                <div class="col-sm-3 col-sm-push-4">
                    <span class="glyphicon glyphicon-comment">22</span>
                    <span class="glyphicon glyphicon-thumbs-up">88</span>
                    <span class="glyphicon glyphicon-share">108</span>
                </div>
            </div>
            <p class="text-justify article">这是我一位前同事现在所在公司的招聘，找我帮忙我，反正不是坏事，所以发布在这里，
                感兴趣的可以了解下发个简历试试。首先说明，我对这家公司不怎么了解，所以问我太多的信息我也帮不了，大家自行搜索了解！
            </p>
            </p>



            <!--分页-->
            <ul class="pager">
                <li><a href="#">上一页</a></li>
                <li><a href="#">下一页</a></li>
            </ul>
            <!--分页结束-->
        </div>

    </div>


</div>









<script src="/source/bootstrap-3.3.6-dist/js/jquery-1.12.3.js"></script>
<script src="/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<!--开发用-->
<script src="../../web/devtest/bootstrap-3.3.6-dist/js/jquery-1.12.3.js"></script>
<script src="../../web/devtest/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<!--开发用-->
</body>
</html>