<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--强制IE用最新模式渲染-->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--检测屏幕宽度,并以缩放率为1来初始显示-->

    <title>Title</title>
    <link rel="stylesheet" href="/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="/source/app/css/common.css">-->

    <!--开发用-->
    <link rel="stylesheet" href="../../web/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="../../web/source/app/css/common.css">-->
    <!--开发用-->
</head>
<body>






<script src="/source/bootstrap-3.3.6-dist/js/jquery-1.12.3.js"></script>
<script src="/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<!--开发用-->
<script src="../../web/devtest/bootstrap-3.3.6-dist/js/jquery-1.12.3.js"></script>
<script src="../../web/devtest/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="../../web/devtest/bootstrap-3.3.6-dist/js/vue.js"></script>
<!--开发用-->
</body>
</html>