<style>
    .list-group-item{
            border: none;
            padding: 10px 0;
    }
    .right{
        float: right;
    }
    .nav-tabs{
        margin-bottom: 30px;
    }

    .showwrite{
        display: none;
    }
    .showlists{
        display: none;
    }
</style>


<div class="col-sm-8 col-sm-push-2">
    <ul class="nav nav-tabs">
        <li role="presentation" data="showlists"><a href="javascript:void(0)">全部文章</a></li>
        <li role="presentation" data="showwrite"><a href="javascript:void(0)">再写一篇</a></li>
    </ul>

    <!--全部文章-->
    <ul class="list-group showlists">
        <li class="list-group-item">
            MySQL的innodbdb引擎详解（一）
            <span class="right">
                <span class="glyphicon glyphicon-thumbs-up">14</span>
                <span class="glyphicon glyphicon-comment">14</span>
            </span>
        </li>
        <li class="list-group-item">
            MySQL的innodbdb引擎详解（一）
            <span class="right">
                <span class="glyphicon glyphicon-thumbs-up">14</span>
                <span class="glyphicon glyphicon-comment">14</span>
            </span>
        </li>
        <li class="list-group-item">
            MySQL的innodbdb引擎详解（一）
            <span class="right">
                <span class="glyphicon glyphicon-thumbs-up">14</span>
                <span class="glyphicon glyphicon-comment">14</span>
            </span>
        </li>
        <!--分页-->
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!--分页结束-->
    </ul>

    <!--再写一篇-->
    <form class="showwrite">
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入标题">
        </div>
        <div class="form-group">
            <textarea class="form-control">正文</textarea>
        </div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                选择分类
                <span class="caret"></span>
            </button>
            <button type="submit" class="btn btn-default">发表</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">PHP</a></li>
                <li><a href="#">MySQL</a></li>
            </ul>
        </div>
    </form>
    <!--再写一篇结束-->
</div>
<script>
    window.onload = function () {
        /*页面初始化给第一个tab加选中效果，并显示内容*/
        $(".nav-tabs li:first-child").addClass('active');
        $("."+$(".nav-tabs li:first-child").attr('data')).show();

        /*tab点击效果*/
        $(".nav-tabs").on('click','li',function () {
            $(this).addClass('active');
            $("."+$(this).attr('data')).show();

            $(this).siblings('li').removeClass('active');
            $.each($(this).siblings('li'),function (k,v) {
                $("."+$(v).attr('data')).hide();
            })
        })
    };
</script>